@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

:root{
    --navbar-color: rgba(3, 3, 3, 0.6);
    --beacon-color: rgba(3, 3, 3, 0.7);
    --dark-gray:#333;
    --light-gray: #F8F9F9;
    --black: #000;
    --blue-dark: #092652;
    --blue-light: #46D2EB;
    --blue: #076ADD;
    --white:#fff;
    --pale-blue:#E5F1FD;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
}


img{
    max-width: 100%;
    max-height: 100%;
}

body{
    background-color: var(--pale-blue);
    height: 100vh;
    display: grid;
    grid-template-rows: 80px auto;
}

a{
    display: inline-block;
    text-decoration: none;   
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: var(--navbar-color)
}
h1,h2{
    font-size: 2.25rem;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
}

/*main styling*/
/*navbar*/
.navbar{
    height: 80px;
    box-shadow: 0px 3px 4px rgba(86, 101, 115, 0.25);
    z-index: 0;
    background: var(--white);
}

.navbar .flex{
    justify-content: space-between;
}
.navbar .nav,
.navbar .nav > ul{
    display: flex;
    align-items: center;
}
.nav > ul > li{
    margin:0 60px;
}

.navbar .nav > ul a::after{
    content: '';
    display: block;
    width: 0px;
    height: 1px;
    background-color: var(--dark-gray);
    transition: width .3s;
}
.navbar .nav > ul > a:hover{
    color: var(--dark-gray);
}
.navbar ul a:hover::after{
    width: 100%;
}

.logo-section{
    width: max-content;
}

.logo-section .logo:nth-child(2){
    width: 100px;
    display: grid;
    place-items: center;
    color: var(--navbar-color);
    /* margin-left: 20px; */
}

.logo-section .logo:nth-child(2) a{
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 500;
    margin-left: 20px;
}


/*Main Body*/
.main-body{
    margin: 20px 0;
}
.main-body > .grid{
    grid-template-rows: 1fr auto;
    grid-template-areas: 
    "calendar calendar beacon"
    "graph graph graph"
    ;
    gap: 20px;
}
/*Calendar Section*/
.calendar-section{
    background-color: #fff;
    grid-area: calendar;
    /* border-radius: 5px; */
    padding: 20px 35px;
    /* min-width: 800px; */
} 

.calendar-section.grid{
    grid-template-columns: 23rem 1fr;
}

/*Calendar*/
.calendar{
    /* width: 22rem; */
    /* height: 20rem; */
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-shadow: 4px 4px 4px rgba(160, 160, 160, 0.25), inset 2px 3px 4px rgba(160, 160, 160, 0.25);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.month{
    width: 100%;
    height: 3rem;
    padding: 0 1.5rem;
}

.month.flex{
    justify-content: space-between;
}

.month i{
    font-size: 1.1rem;
    cursor: pointer;
}
.month h2{
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
}

.weekdays{
    width: 100%;
    height: 1.25rem;
    padding: 0 0.6rem;
    /* background-color: #076ADD; */
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.weekdays.grid{
    grid-template-columns: repeat(7 , 1fr);
    gap: 10px;
    /* row-gap: 15px; */
}
.weekdays div{
    font-weight: 400;
    letter-spacing: 0.1rem;
    margin: 0.3rem;
}

.days {
    width: 100%;
    padding: 0 0.6rem;
    /* display: flex;
    flex-wrap: wrap; */
    margin-top: 10px ;
    margin-bottom: 8px;
    height: auto;
    flex-grow: 1;
    place-items: center;
    /* margin-top: 20px; */
}
.days.grid{
    grid-template-columns: repeat(7, 1fr);
    gap: 8px;
}

.days div {
    /* font-size: 1.4rem; */
    width: 100%;
    padding: 0.6rem 0.3rem;
    border-radius: 10px;
    transition: background-color 0.2s;
}

.days div:hover:not(.today) {
    /* border: 0.5px solid #777; */
    border-radius: 0px;
    cursor: pointer;
}
  
.prev-date,
.next-date {
    opacity: 0.5;
}
  
.today {
    background-color: #A3e4d7;
    color: #fff;
}

/*Info Section*/
.info-section{
    height: 100%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.upper-deck{
    margin-bottom: 10px;
}
.upper-deck.grid{
    /* background-color: blueviolet; */
    grid-template-columns: repeat(3 ,1fr);
}
.lower-deck{
    margin-top: 10px;
}
.lower-deck.grid{
    gap: 30px;
}

.block{
    height: 100%;
    border-radius: 20px;
    font-size: 1.2rem;
    padding: 1.1rem;
}

.block h2{
    font-size: 1.8rem;
    font-weight: 600;
    margin: 5px 0;
}
.block h3{
    font-weight: 400;
}
.block p{
    font-size: 0.9rem;
}
.icon.flex{
    justify-content: space-evenly;
}

.icon i{
    padding: 10px;
    background-color: var(--white);
    border-radius: 12px;
}

.asset{
    background-color: #E7DEFD;
}
.asset i{
    color: #BDA2FF;
}
.patient , .acitve-patient{
    background-color: #E8FAEA;
}
.patient i, .acitve-patient i{
    color: #60CEB5;
}
.doctor ,.total-doctor{
    background-color: #FAE5D3;
}
.doctor i , .total-doctor i{
    color: #FEBB6D;
}


/*Beacon Section*/
.beacon-section{
    background-color: var(--white);
    grid-area: beacon;
    /* border-radius: 10px; */
    padding: 20px 25px;
    font-size: 20px;
    letter-spacing: 2px;
    min-width: 450px;
    /* height: 100%; */
}

.beacon-info{
    padding: 10px;
    width: 100%;
    box-shadow: 4px 4px 4px rgba(160, 160, 160, 0.3), inset 2px 3px 4px rgba(160, 160, 160, 0.3);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    margin-bottom: 30px;
}
.beacon-info:last-child{
    margin-bottom: 0;
}
.beacon-info p{
    padding: 5px 10px;
}

/*Graph Section*/
.graph-section{
    grid-area: graph;
    height: 100%;
}
.graph-section.grid{
    grid-template-columns: repeat(3 , 1fr);

}
.graph-section .column-flex{
    align-items: center;
    /* justify-content: space-between; */
}
.graph{
    padding: 20px 25px 15px 25px;
    background-color: var(--white);
    /* border-radius: 10px; */
    /* height: 100%; */
}

.graph h3{
    font-weight: 400;
    font-size: 1.4rem;
    /* margin-bottom: 20px; */
}
.dough-sect{
    width: 100%;
}
.dough-sect.flex{
    justify-content: space-around;
}
.doughnut{
    width: 100%;
    height: 300px;
    /* margin: auto; */
    padding-left: 2rem;
    padding-top: 2rem;
    display: flex;
    align-items: center;
    /* background-color: burlywood; */
}
.doughnut canvas{
    width: 270px;
    height: 270px;
}
.legend li{
    margin: 1.8rem 0;
    list-style: disc outside none;
}
.legend li::marker {
    font-size: 1.7rem;
}

.legend .l1::marker{
    color: rgba(255, 99, 132, 1);
}

.legend .l2::marker{
    color: rgba(54, 162, 235, 1);
}

.legend .l3::marker{
    color: rgba(255, 206, 86, 1);
}

.legend .l4::marker{
    color: rgba(75, 192, 192, 1);
}

.legend .l5::marker{
    color: rgba(153, 102, 255, 1);
}