* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    list-style: none;
  }
  .container {
    width: 100%;
    background-color: #12121f;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navbar{
    height: 80px;
    box-shadow: 0px 3px 4px rgba(86, 101, 115, 0.25);
    z-index: 0;
    background: var(--white);
}

.navbar .flex{
    justify-content: space-between;
}
.navbar .nav,
.navbar .nav > ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav > ul > li{
    margin:0 60px;
}

.navbar .nav > ul a::after{
    content: '';
    display: block;
    width: 0px;
    height: 1px;
    background-color: var(--dark-gray);
    transition: width .3s;
}
.navbar .nav > ul > a:hover{
    color: var(--dark-gray);
}
.navbar ul a:hover::after{
    width: 100%;
}

.logo-section{
    width: max-content;
}

.logo-section .logo:nth-child(2){
    width: 100px;
    display: grid;
    place-items: center;
    color: var(--navbar-color);
    /* margin-left: 20px; */
}

.logo-section .logo:nth-child(2) a{
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 500;
    margin-left: 20px;
}
