@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,300&display=swap');
:root{
    --navbar-color: rgba(3, 3, 3, 0.6);
    --dark-gray:#333;
    --light-gray: #F8F9F9;
    --black: #000;
    --blue-dark: #092652;
    --blue-light: #46D2EB;
    --blue: #076ADD;
    --white:#fff
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
}

img{
    max-width: 100%;
    max-height: 100%;
}

body{
    background-color: var(--white);
    height: 100vh;
}

li {
    margin-bottom: 10px;
}

a{
    display: inline-block;
    text-decoration: none;   
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: var(--navbar-color)
}
h1,h2{
    font-size: 2rem;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
}
input{
    background-color: var(--white);
    /* width: 100%; */
    outline: none;
    border: none;
}

input  :focus{
    background-color: var(--white);
}
/*Main Styling*/
/*Navbar*/
.navbar{
    height: 80px;
    text-align: center;
    box-shadow: 0px 3px 4px rgba(86, 101, 115, 0.25);
}

.navbar .flex{
    justify-content: space-between;
}

.navbar ul{
    display: flex;
}

.navbar .logo,
.navbar ul a{
    /* padding: 0 20px; */
    margin: 0 20px;
}

.navbar ul a::after{
    content: '';
    display: block;
    width: 0px;
    height: 1px;
    background-color: var(--dark-gray);
    transition: width .3s;
}
.navbar ul a:hover{
    color: var(--dark-gray);
}
.navbar ul a:hover::after{
    width: 100%;
}

/*Showcase*/
.showcase{
    height: 90%;
    /* height: 800px; */
    /* background-color: burlywood; */
}

.showcase .grid{
    /* grid-template-columns: 45% 50%; */
    grid-template-columns: 0.7fr 1.2fr;
    gap:30px;
}

.showcase h2{
    font-size: 30px;
    letter-spacing: 2px;
}

/*showcase form*/
.showcase-form{
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: space-evenly; */
    color: var(--navbar-color);
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.form-hidden{
    display: none;
}

.text-blink{
    visibility: hidden;
}
.showcase-form.register{
    width: 560px;
    height: 650px;
    /* margin-left: auto; */
    margin: auto;
}

.showcase-form form{
    width: 100%;
    flex-grow: 1;
}
.showcase-form .form-control{
    height: 40px;
    /* margin-bottom: 50px; */
    /* margin: 30px 0; */
    text-align: left;
    border-bottom: 1px solid #333;
    position: relative;
    font-size: 20px;
}

.showcase-form .flex{
    align-items: flex-end;
}
.showcase-form .form-control .fieldicon{
    margin-left: 4px;
    margin-bottom: 5px;
    font-weight: 900;
}

.showcase-form .form-control input{
    margin-left: 10px;
    margin-bottom: 2px;
    font-size: 20px;
    background: var(--white);
    width: 100%;
}

.link{
    margin-top: 25px;
}
.showcase-form a{
    color: #85C1E9;
    font-weight: 400;
    font-size: 16px;
}
.showcase-form .btn{
    width: 60%;
    color: var(--white);
    font-size: 26px;
    letter-spacing: 2px;
    font-weight: 450;
}

/*Showcase register form*/
.register .link{
    width: 100%;
    text-align: right;
}

/*Showcase login form*/
/* .login h2{
    padding-top: 20px;
} */
.showcase-form.login{
    width: 560px;
    min-height: 450px;
}

.login .form-control:first-child{
    margin-bottom: 50px;
}

.login .form-control:nth-child(2){
    margin-bottom: 30px;
}

.login.form-card{
    padding: 2rem 4.5rem;
}
.login form{
    margin-top: 25px;
    /* padding-top: 15px; */
}
.path{
    margin-bottom: 25px;
}
.path.flex{
    justify-content: space-between;
}

/*Error Message styling */
.error-message{
    font-size: 0.89rem;
    font-family: 'Source Sans Pro', sans-serif;
}
.error{
    color: #DC143C;
}