@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

:root{
    --navbar-color: rgba(3, 3, 3, 0.6);
    --beacon-color: rgba(3, 3, 3, 0.7);
    --dark-gray:#333;
    --light-gray: #F8F9F9;
    --black: #000;
    --blue-dark: #092652;
    --blue-light: #46D2EB;
    --blue: #076ADD;
    --white:#fff;
    --pale-blue:#E5F1FD;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
}


img{
    max-width: 100%;
    max-height: 100%;
}

body{
    height: 100vh;
    display: grid;
    grid-template-rows: 80px auto;
}

a{
    display: inline-block;
    text-decoration: none;   
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: var(--navbar-color)
}
h1,h2{
    font-size: 2.25rem;
    font-weight: 500;
    font-family: 'Zilla Slab', serif;
}

input{
    background-color: var(--light-gray);
    /* width: 100%; */
    outline: none;
    border: none;
}


/*main styling*/
/*navbar*/
.navbar{
    height: 80px;
    box-shadow: 0px 3px 4px rgba(86, 101, 115, 0.25);
    z-index: 0;
    background: var(--white);
}

.navbar .flex{
    justify-content: space-between;
}
.navbar .nav,
.navbar .nav > ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav > ul > li{
    margin:0 60px;
}

.navbar .nav > ul a::after{
    content: '';
    display: block;
    width: 0px;
    height: 1px;
    background-color: var(--dark-gray);
    transition: width .3s;
}
.navbar .nav > ul > a:hover{
    color: var(--dark-gray);
}
.navbar ul a:hover::after{
    width: 100%;
}

.logo-section{
    width: max-content;
}

.logo-section .logo:nth-child(2){
    width: 100px;
    display: grid;
    place-items: center;
    color: var(--navbar-color);
    /* margin-left: 20px; */
}

.logo-section .logo:nth-child(2) a{
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 500;
    margin-left: 20px;
}

/* Main Body */

.main-body .container{
    max-width: 1600px;
}
.main-body .grid{
    grid-template-columns: 1fr 1fr;
}

.aboutus{
    width: 500px;
    padding: 2rem 2.3rem;
    line-height: 1.2;
    margin-left: auto;
}

.aboutus h2{
    text-align: center;
    font-size: 3.2rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.aboutus p{
    letter-spacing: 1px;
    font-size: 0.9rem;
}

.showcase{
    height: 800px;   
    /* background-color: burlywood; */
}

.showcase .grid{
    /* grid-template-columns: 45% 50%; */
    grid-template-columns: 0.7fr 1.2fr;
    gap:30px;
}

.showcase h2{
    font-size: 40px;
    letter-spacing: 2px;
}

/*showcase form*/
.showcase-form{
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--navbar-color);
}

.form-hidden{
    display: none;
}

.showcase-form.register{
    width: 560px;
    height: 650px;
    /* margin-left: auto; */
    margin: auto;
}

.showcase-form form{
    width: 100%;
}
.showcase-form .form-control{
    height: 60px;
    margin-top: 30px;
    border-bottom: 1px solid #333;
    position: relative;
    font-size: 20px;
}

.showcase-form .flex{
    align-items: flex-end;
}
.showcase-form .form-control .fieldicon{
    margin-left: 4px;
    margin-bottom: 5px;
    font-weight: 900;
}

.showcase-form .form-control input{
    margin-left: 10px;
    margin-bottom: 2px;
    font-size: 20px;
    background: var(--light-gray);
    width: 100%;
}

.link{
    margin-top: 25px;
}
.showcase-form a{
    color: #85C1E9;
    font-weight: 400;
    font-size: 16px;
}
.showcase-form .btn{
    width: 60%;
    color: var(--white);
    /* height: 40px; */
    margin-top: 30px;
    font-size: 26px;
    letter-spacing: 2px;
    font-weight: 450;
}

/*Numbers*/
.connect{
    color: var(--navbar-color);
    font-size: 1.4rem;
}
.connect i {
    font-size: 1.6rem;
}

.contacts i{
    margin: 0 20px;
}
.social.flex{
    justify-content: space-evenly;
}
.social i{
    font-size: 2rem;
}

/* .social a :hover{
    color: var(--white);
    background-color: var(--navbar-color);
    border: none;
    border-radius: 50%;
    outline: none;
} */